.find-us-at {
    box-sizing: border-box;
}

.h3-find-us-at {
    display: flex;
    justify-content: center;
    margin-bottom: unset;
    margin-top: clamp(1.5rem, -4.5rem + 19.2vi, 7.5rem);
}

.adress {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: clamp(1.5rem, -1rem + 8vi, 4rem);
    >img {
        height: 24px;
    }
}

iframe {
    width: 100%;
}