<section class="our-menu section-padding-top">
    <h3 class="font-raleway">Our Menu</h3>
    <section class="font-raleway ramen">
        <div class="ramen-menu">
            <img src="assets/img/2. R1-CP.png">
            <table>
                <th colspan="2">Tonkatsu Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td class="price">11,95 €</td>
                </tr>
                <tr>
                    <td>Beef</td>
                    <td class="price">12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td class="price">13,95€</td>
                </tr>
            </table>
        </div>
        <div class="ramen-menu padding-t-b reverse">
            <img src="assets/img/3. R2-CP.png">
            <table>
                <th colspan="2">Spicy Miso Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td class="price">11,95 €</td>
                <tr>
                    <td>Beef</td>
                    <td class="price">12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td class="price">13,95€</td>
                </tr>
            </table>
        </div>
        <div class="ramen-menu">
            <img src="assets/img/4. R3-CP.png">
            <table>
                <th colspan="2">Shio Ramen</th>
                <tr>
                    <td>Chicken</td>
                    <td class="price">11,95 €</td>
                <tr>
                    <td>Beef</td>
                    <td class="price">12,95€</td>
                </tr>
                <tr>
                    <td>Shrimp</td>
                    <td class="price">13,95€</td>
                </tr>
            </table>
        </div>
    </section>
</section>