<section class="font-raleway">
    <div class="sakura-footer">
        <img src="assets/img/2. Sakura Logo@3x.png">
        <a href="#home">Sakura Ramen</a>
    </div>
    <div class="social-box">
        <div class="social">
            <img src="assets/img/3.Tripadvisor@3x.png">
            <img src="assets/img/4. Facebook@3x.png">
            <img src="assets/img/5. Instagrram@3x.png">
        </div>
        <div class="imprint-box">
            <a routerLink="/imprint" class="imprint">Imprint</a>
        </div>
    </div>
</section>