<section class="section-padding-top how-to-order">
    <h3 class="font-raleway">How to order</h3>
    <section class="font-raleway menu-selection">
        <div class="margin-bottom">
            <img src="assets/img/1. Noodle@3x.png">
            Pick your noodle
        </div>
        <div class="margin-bottom">
            <img src="assets/img/2. Broth@3x.png">
            Pick your broth
        </div>
        <div class="last-menu-section">
            <img src="assets/img/3. Egg@3x.png">
            Add your toppings
        </div>
    </section>
</section>